#user_agent {
  font-size: 1.2rem;
}

.status_web {
  position: fixed;
  left: 10px;
  bottom: calc(95px - 1vh);
  z-index: 99;
  width: 30%;
  height: 3.5rem;
  font-size: 2rem;
  border-radius: 10px;
  display: none;
  color: white;
}

.is-online {
  background-color: rgb(11, 189, 11);
  color: black;
}

.is-offline {
  background-color: rgb(226, 44, 44);
}

.camera_capture {
  width: 400px;
  height: 450px;
  border: 2px solid var(--second-color);
}

.main_section9 > ul,
.main_section9 > p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.main_section9 > p a {
  font-size: 0.9rem;
  color: var(--second-color);
}

.main_section9 > p a:hover {
  text-decoration: underline;
  background-color: rgba(231, 245, 32, 0.746);
}

/* filter search */
.container_img_search {
  width: 90%;
  height: 80vh;
  margin: 20px auto;
  padding: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  overflow-y: auto;
}

.img_search {
  transition: all 1s ease-in-out;
}

.img_search img {
  width: 100%;
}

figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  /* max-width: 220px; */
  margin: auto;
  align-self: center;
}

figcaption {
  background-color: var(--second-color);
  color: var(--color-hover-a);
  /* font: italic smaller sans-serif; */
  padding: 7px 3px;
  text-align: center;
  font-size: 1rem;
}

#search_input {
  outline: none;
  padding: 0.4rem 0.6rem;
  font-size: 1rem;
  border-radius: 9px;
  border: thin #c0c0c0 solid;
  letter-spacing: 0.03rem;
}

.hiddeFigure {
  border-radius: 30px;
  border: 3px solid red;
}

/* Sorteo Digital */

.list_giveaway {
  margin: 20px;
}

.list_giveaway .list_giveaway_item {
  font-size: 1.2rem;
  padding: 0.2rem;
}

/* RESPONSIVE SLIDER */

.main_section12 {
  position: relative;
}

.slide_container {
  /* width: 80%;
  height: 80vh; */
  /* max-width: 1200px; */
  width: 80%;
  position: relative;
  height: 800px;
  margin: 30px auto;
}

.container_img_txt {
  position: absolute;
  transition: all 1.5s ease-in-out;
}

.fade {
  opacity: 0;
  visibility: hidden;
}

.active_img_txt {
  opacity: 1;
  visibility: visible;
}

.flecha {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  background-color: var(--color-white);
  width: 45px;
  height: 55px;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}

.flecha:hover {
  background-color: var(--second-color);
  color: var(--color-hover-a);
  border: 2px solid var(--color-hover-a);
}

.arrowRight1 {
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 99;
  border-radius: 0 9px 9px 0;
}

.arrowRight2 {
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 9px 0 0 9px;
}

.number_txt {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--main-color);
}

.slide_container_img {
  width: 100%;
  display: inline-block;
}

.img_caption {
  width: auto;
  height: 800px;
  font-size: 1.7rem;
  display: block;
}

/* .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
} */
