#user_agent {
  font-size: 1.2rem;
}

.status_web {
  position: fixed;
  left: 10px;
  bottom: calc(95px - 1vh);
  z-index: 99;
  width: 30%;
  height: 3.5rem;
  font-size: 2rem;
  border-radius: 10px;
  display: none;
  color: white;
}

.is-online {
  background-color: rgb(11, 189, 11);
  color: black;
}

.is-offline {
  background-color: rgb(226, 44, 44);
}

.camera_capture {
  width: 400px;
  height: 450px;
  border: 2px solid var(--second-color);
}

.main_section9 > ul,
.main_section9 > p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.main_section9 > p a {
  font-size: 0.9rem;
  color: var(--second-color);
}

.main_section9 > p a:hover {
  text-decoration: underline;
  background-color: rgba(231, 245, 32, 0.746);
}
